<div class="row">
    <div class="col-sm-4">
        <img class="img-responsive" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" />
    </div>
    <div class="col-sm-8">
        <h1>{{movie.title}}</h1>
        <p class="lead">{{movie.overview}}</p>
        <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item"
                src="https://www.youtube.com/embed/{{movie.trailer_youtube_id}}?rel=0"></iframe>
        </div>
        <a href='/reviews/movie/{{movie.title}}'>View Reviews</a>
        <form method="POST" action="/reviews">
            <input type='hidden' name='movieTitle' value='{{movie.title}}' />
            <input type='hidden' name='review-title' value='{{movie.title}}' />
            {{> reviews-form}}
            <!-- BUTTON -->
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save Review</button>
            </div>
        </form>
    </div>
</div>